{% extends "bootstrap/base.html" %}

{# 定义网页属性 #}
{% block html_attribs %} lang="zh"{% endblock %}

{# 定义网页head头部中全部的内容 #}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('.static', filename='images/pics/xiaohui.ico')}}"
          type="image/vnd.microsoft.icon">
    {# 外部样式表的每一次更改都需要删除再新建样式表 更改样式不成功时查看网页源代码 #}
    <link rel="stylesheet" href="{{url_for('.static',filename='css/footer.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/navbar-a.css')}}">
    <link rel="stylesheet" href="{{url_for('.static',filename='css/justified-nav0.css')}}">
{% endblock %}

{# 网页标题 #}
{% block title %}SCNU-FAQ{% endblock %}

{% block navbar %}
    <style type="text/css">
        {#body{
            background-image: url("../static/images/pics/carousel01_jpg.jpg");
        }#}
    </style>

    <div class="navbar-wrapper" >
        <div>
            <nav class="navbar navbar-inverse navbar-static-top"
                 role="navigation" style="border-radius: 4px">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">
                            <img src="../static/images/pics/navbarXiaohui.png"
                                 style="width: 54px;height: 54px;position: relative;top: -17px;">
                        </a>
                        <a class="navbar-brand" href="{{ url_for('home') }}" style="font-family: inherit"><strong>华师校园通</strong></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse" style="font-size: 15px">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="{{ url_for('home') }}">首页</a></li>
                            <li><a id="navbar-a" href="{{ url_for('introduction') }}">华师简介</a></li>
                            <li><a id="navbar-a" href="{{ url_for('websites') }}">学校网站</a></li>
                            <li><a id="navbar-a" href="{{ url_for('offices') }}">学校办事处</a></li>
                            {#下拉框的制作#}
                            <li class="dropdown">
                                <a id="navbar-a" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">学校社团 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('association_dxc') }}">大学城校区</a></li>
                                    <li><a href="{{ url_for('association_sp') }}">石牌校区</a></li>
                                    <li><a href="{{ url_for('association_nh') }}">南海校区</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a>欢迎：{{ userunit }} {{ userxm }} {{ usertype }}</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron" style="margin-bottom: 0; margin-top: -20px">
            <h2>华南师范大学校园问答</h2>
            <p class="lead">
                "可以提问关于蓝卡和白卡、转专业、成绩考试课表查询、户口迁移等的生活学习问题。
                比如：蓝卡丢失怎么办？选修课和必修课有什么区别？图书馆怎么借阅书籍？"
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center; font-size: 18px"><b>问题</b></h3>
                    </div>
                    <div class="panel-body" style="height: 300px">
                        <form role="form">
                            <label class="sr-only">请在这里输入问题...</label>
                            <textarea id="question" style="font-size: 16px" class="form-control"
                                      placeholder="请在这里输入问题..." rows="10" required ></textarea>
                            {#textarea不空行在网页中就没有空格#}
                            <div style="text-align: center;margin-top: 12px">
                                <button id="tiwen" class="btn btn-primary" type="submit">提问</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="text-align: center; font-size: 18px"><b>答案</b></h3>
                    </div>
                    <div class="panel-body" style="height: 300px">
                        <form role="form">
                            <label class="sr-only">答案显示</label>
                            <textarea id="answer" style="font-size: 16px" class="form-control" rows="11" readonly></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer" style="text-align: center">
            <p>&copy; 2019 Joywvii, SCNU.</p>
        </footer>
        <a href="#" style="position:fixed;right:3%;bottom:10%;text-decoration-line: none"
           data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="回到顶部">
            <span class="glyphicon glyphicon-chevron-up" style="font-size: 35px; color: black"></span>
        </a>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/MyJs.js') }}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(function() {
            $('#tiwen').on('click', function() {
                $('#answer').empty();
                $.getJSON($SCRIPT_ROOT + '/faq/', {
                    question: $('#question').val()
                }, function(data) {
                    var daan;
                    daan  = $.parseJSON(data);
                    $("#answer").val(daan);
                });
                return false;
            });
        });
    </script>
{% endblock %}